@font-face {
    font-family: 'crowFont';
    src: url('october_crow.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body{
    text-align: center;
    font:inherit;
    font-family: crowFont;

}
div {

  text-align: center;
}
img{
    width:20;
    height:40;
}
input{
    font:inherit;
    font-family: crowFont;
}
#hearts{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
.bg{
    background-image: url("pics/bg2.avif");
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgb(242,242,242);

    /*background: linear-gradient(45deg, black, indigo, red,  rgb(252, 250, 252));*/
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg2{
    visibility: hidden;
    background: linear-gradient(180deg, black, red,  rgb(236, 196, 196));
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro{
    position: fixed;
    top: 30%;
}

#blood{
    position: fixed;
    top: 5%;
}
#fynn{
    display: flex;
}
#header{
    position:relative;
    padding: 60px 20px;
}